<h2><a href="/artists">All Artists</a></h2>
<div class="artist">
  <p>Artist Name: <%= @artists.name %></p>
  <p>Artist Nationality: <%= @artists.nationality %></p>

  <a href='/artists/<%= @artists.id %>/edit'>Edit This Artist</a><br>
  <a href='/artists/<%= @artists.id %>/delete'>Delete This Artist</a>

  <h2>The Artist's Songs (<%= @songs.count %>)</h2>
  <% @songs.each do |song|%>
    <p><%= song.title %></p>
  <% end %>

</div>
