<p><%=@artist.name%></p>
<br>
<p><%=@artist.nationality%></p>
<br>
<p><%=@artist.photo_url%></p>


<a href='/artists/<%= @artist.id %>/edit'>Edit This Artist</a>
<a href='/artists/<%= @artist.id %>/delete'>Delete This Artist</a>
